<div class="onepage-container">
    <h4>Home / 대분류 / 소분류</h4>
    
    <div class="onepage-front">
        <h1>멋쟁이 사자처럼</h1>
        <h3>내 아이디어를 내 손으로 실현한다</h3><br><br>
    </div>
    <a class="buttons" tooltip="Share" href="#"></a>
    
    <div class="onepage-button">
        <a href="#" class="pure-button pure-button-primary">Go</a>
    </div>
</div>

<div class="onepageslider">
        <div class="content-wrapper">
                <h3 class="content-head"></h3>
                
                <div class="onepage-menubar">
                      <br>
                      <h1>멋쟁이사자처럼</h1>
                      <h4>동사무소 공식인증 추천 동아리</h4>
                 </div>
                
                <div class="onepage-detail">
                  
                  
                  <div class="onepage-description">
                      <a href="#" class="pure-button pure-button-primary">질문</a>
                      <div class="applypage-text">우리 동아리에 대한 지원자의 열정을 보여주세요.</div>
                  </div>
                  
    
                  <div class="onepage-description">
                      <a href="#" class="pure-button pure-button-primary">답변</a>
                      <textarea class="applypage-text" name="#" rows="10" cols="100" placeholder="    답변을 입력하세요"></textarea>
                  </div>
                </div>
        </div>
    </div>