<br>
<div class="form-style-6">
    <h1>동사무소 로그인</h1>
    <form action="#regist">
    E-mail 로그인
    <br><br><br>
    <input type="email" name="field1" placeholder="E-mail" />
    <input type="password" name="pswd" placeholder="비밀번호"/><br>
    <input type="submit" value="로그인" />
    </form>
    <div>비밀번호 기억이 안나세요? <a href="#login">비밀번호 찾기</a><br>동사무소에 가입해보세요!<a href="#login">무료가입</a></div>
</div>