<div class="onepage-container">
    <h4>Home / 대분류 / 소분류</h4>
    
    <div class="onepage-front">
        <h1>멋쟁이 사자처럼</h1>
        <h3>내 아이디어를 내 손으로 실현한다</h3><br><br>
    </div>
    <a class="buttons" tooltip="Share" href="#"></a>
    
    <div class="onepage-button">
        <a href="#" class="pure-button pure-button-primary">Go</a>
    </div>
</div>

<div class="onepageslider">
        <div class="content-wrapper">
                <h3 class="content-head">Home / 대분류 / 소분류</h3>
                
                
                <div class="dongari-list">
                  <div class="page-subtitle">
                      <br>
                      <h1>멋쟁이사자처럼</h1>
                      <h4>동사무소 공식인증 추천 동아리</h4>
                  </div>
                  
                  <div class="onepage-description">
                      <a href="#" class="pure-button pure-button-primary">정보</a>
                      <div class="applypage-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                  </div>
                  
    
                  <div class="onepage-description">
                      <a href="#" class="pure-button pure-button-primary">모집</a>
                      <div class="applypage-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                  </div>
                </div>
        </div>
    </div>