
<div class="dongari-container">
  <div class="page-subtitle">
      <br>
      <h1>추천 동아리</h1>
      <h4>동사무소 공식인증 추천 동아리</h4>
  </div>

    <div class="dongari-list">
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Trolltunga Norway" width="300" height="200">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="dongariimg">
          <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
            <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
    </div>
  </div>