

    <div class="splash-container">
        <div class="splash">
            <h1>당신을 위한 동아리의 모든 것</h1>
            <p>풍요로운 대학 생활을 즐기세요</p>
            <p>
              <input type="checkbox" id="slidertoggle">
              <label for="toggle"></label>
                <label for="slidertoggle" class="pure-button pure-button-primary">Go</label>
            </p>
        </div>
    </div>
    
    <div class="mainslider">
        <div class="content-wrapper">
                <h2 class="content-head is-center">동사무소에 처음이세요?</h2>
        
                <div class="dongari-list">
                  <div class="page-subtitle">
                      <br>
                      <h1>추천 동아리</h1>
                      <h4>동사무소 공식인증 추천 동아리</h4>
                  </div>
                  <div class="dongari-list">
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                      
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Forest" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                      
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                      
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                      
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                      
                      <div class="dongariimg">
                        <a target="_blank" href="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg">
                          <img src="http://images6.fanpop.com/image/photos/33700000/Random-writing-33719117-1600-996.jpg" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc">Add a description of the image here</div>
                      </div>
                  </div>
                </div>
        </div>
    </div>
