.onepage-container{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 600px;
    background: transparent;
}


.onepage-front {
    margin-top: 15%;
}

.onepage-button{
    margin-left: 45%;
}

.onepage-menubar{
    text-align: center;
    width : 100%;
}

.onepage-detail {
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    z-index: -10;
    background-color : transparent;
}
.onepage-description{
    margin: 2% 12%;
    text-align: left;
    width : 70%;
}




.applypage-text{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.onepageslider {
    position :relative;
    -webkit-animation-timing-function: ease; /* Safari 4.0 - 8.0 */
    animation: onepageslidermoveup 5s;
    top: 35px;
}




@-webkit-keyframes onepageslidermoveup {
    from {top: 500px;}
    to {top: 35px;}
}

/* Standard syntax */
@keyframes onepageslidermoveup {
    from {top: 500px;}
    to {top: 35px;}
}
/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */